{% extends 'shop/base.html' %}
{% load static %}
{% block title %}Password Reset{% endblock title %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="alert alert-success text-center" role="alert">
                <h1 class="alert-heading">Email Sent</h1>
                <p>An email has been sent with instructions to reset your password. Please check your email.</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
